.header {
  background-color: #003f2e;
  color: white;
  padding: 0 0 0 10px;
  border-radius: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header h1 {
  font-size: 46px;
}

.header .left-container {
  display: flex;
  vertical-align: middle;
}

.header .left-container div {
  margin: 0 10px;
  padding: 0 0 10px 0;
  vertical-align: middle;
}

.header .right-container {
  margin-left: auto;
  margin-right: 25px;
}

.header .right-container label {
  cursor: pointer;
}

.header h1 {
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
