/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  /* --qwik-dark-blue: #006ce9;
  --qwik-dark-purple: #713fc2; */
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 40px 0 10px 0;
}

.map-display-container {
  font-family: sans-serif;
  min-width: 300px;
  margin: 0 auto;
}

.trail-data-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  opacity: 0.9;
  color: #fff;
  background-color: #111;
  padding-top: 20px;
}

.trail-data-container.open {
  width: 400px;
}
